<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="drugLinkDAO" class="parser.common.dao.impl.JdbcDrugLinkDAO">
        <property name="dataSource" ref="rxDataSource"/>
    </bean>

</beans>
